Package: com.yourcompany.project01
Name: project01
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Hector Medina
Author: Hector Medina
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 104
